Loopback0: {{ Loopback0 }}
Loopback0: {{ Loopback0withFilter }}
Loopback0: {{ Loopback0subnet }}
GE0/0/0.10: {{ GigabitEthernet0_0_0_10 }}
GE0/0/0.20: {{ GigabitEthernet0_0_0_20 }}
GE0/0/0.590: {{ GigabitEthernet0_0_0_590 }}
GE0/0/0.759: {{ GigabitEthernet0_0_0_759 }}
