Loopback0: {{ Loopback0 }}
Loopback0 IP: {{ Loopback0Address }}
Loopback0 Prefix: {{ Loopback0Prefix }}
GE0/0/0.10 Address: {{ Vlan10 }}
GE0/0/0.10 Network: {{ Vlan10Network }}
GE0/0/0.10 Network: {{ Vlan10Prefix }}
GE0/0/0.10 Netmask: {{ Vlan10Netmask }}
GE0/0/0.10 Last Usable IP: {{ Vlan10LastUsable }}
GE0/0/0.10 Broadcast: {{ Vlan10Broadcast }}
